/********* Header *********/
/********* Navigation *********/
.navigation {
    height: 80px;
    padding: 10px 15px; 
}

.navigation ul {
    line-height: 60px;
}

.navigation li {
    display: inline-block;
    margin: 0 20px;
}

.navigation img {
    vertical-align: middle;
}

.navigation .button-blue {
    line-height: 20px;
}

/********* Spotlight *********/
.spotlight p{
    padding-right: 110px;
}

.spotlight .button-blue {
    font-size: 23px;
    margin-bottom: 10px;
}

.spotlight img {
    position: absolute;
    top: 0;
    right: 0;
    
    width: 110%;
}

.spotlight .fa-arrow-down {
    font-size: 35px;
}


/********* Main *********/
/********* Buiseness *********/
.buisness input[type="radio"] {
    vertical-align: middle;
    height: 25px;
    width: 25px;
    margin-top: -6px;
}

.buisness label {
    font-size: 20px;
    margin-right: 20px;
}

.buisness .vertical .cul {
    height: 1100px;
    border: 1px solid lightgray;
}

.horizontal > .cul {
    border: 1px solid lightgray;
}

/**** Styling della singola colonna ****/
.cul-header {
    border-bottom: 1px solid lightgray;
    text-align: center;
    line-height: 50px; 
    font-size: 20px;
}

.cul-main {
    margin: 10px 30px;
}

.cul-main li {
    margin: inherit;
    line-height: 25px;
    font-size: 15px;
    font-weight: 400;
}

.buisness .cul-main li div {
    display: inline-block;
    width: 90%;
}

.cul-main i {
    margin-right: 5px;
    vertical-align: top;
}

.fa-check {
    color: rgb(0, 100, 255);
}

.horizontal h3 {
    margin: 0px 0px;
}

.horizontal span {
    line-height: 50px;
}

.cul-main .ruler {
    width: 50px;
}

/********** Partner *********/    
.partner .cul:last-of-type {
    padding-left: 60px;
    padding-top: 60px;
}

.partner span {
    line-height: 25px;
}

/********** Operation **********/


/********** Team **********/
.team > .c-small {
    padding-top: 0;
    padding-bottom: 0;
}

.team h2 {
    line-height: 50px;
}

.square {
    width: 50%;
    padding-bottom: 50%;

    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;

    filter: invert(1);
}

.rectangular {
    padding-bottom: 50%;
}

.rectangular > div {
    height: 80%;
    width: 80%;
}

.rectangular span {
    font-size: 20px;
    font-weight: 200;
    line-height: 30px; 
}

.team .button-white {
    border: 0px;
}

#design {
    background-color: #5c2d62;
    background-image: url(../img/designit.svg);
}

#asu {
    background-color: #9ff4d4;
    background-image: url(../img/arizona_state_university.svg);
}

#uf {
    background-color: #e86b33;
    background-image: url(../img/university_of_florida.svg);
}

#topps {
    background-color: #03ded6;
    background-image: url(../img/topps.svg);
}

#wbr {
    background-color: #2df5d8;
    background-image: url(../img/world_bicycle_relief.svg);
}

#hearst {
    background-color: #4a2f19;
    background-image: url(../img/hearst_corp.svg);
}

#lonely-planet {
    background-color: #efd780;
    background-image: url(../img/lonely_planet.svg);
}

#clear-channel {
    background-color: #0129bb;
    background-image: url(../img/clear_channel.svg);
}

/********** Questions **********/
.questions li {
    line-height: 100px;
    border-bottom: 1px solid lightgray;
    font-weight: 900;
}

.questions li:first-of-type {
    border-top: 1px solid lightgray;
}

.questions i {
    position: absolute;
    right: 0;
    margin: 0 50px;
    line-height: 100px;
}

/********** Footer **********/
footer h4 {
    font-size: 25px;
}

footer li {
    line-height: 35px; 
}

footer .cul {
    height: 300px;
}

footer i {
    margin: 0 2px;
}
