/********* Reset *********/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/********* Generiche *********/
.button {
    display: inline-block;
    
    background-color: rgb(18, 103, 251);
    color: white;
    padding: 10px 15px;
}

body {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 45px;
    line-height: 150px;
}

h3 {
    font-size: 35px;
    margin: 20px 0;
}

.btm-brdr {
    border-bottom: 1px solid lightgray;
    padding-bottom: 20px;
}

/********* Position properties *********/
.cul {
    float: left;
}

.clear-fix {
    clear: both;
}

.relative {
    position: relative;
}

.centred {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.text-right{
    text-align: right;
}

/********* Sizing properties *********/
.c-big {
    padding: 100px 140px;
}

.c-small {
    padding: 100px 250px;
}

.w-20 {
    width: 20%;
}

.w-25 {
    width: 25%;
}

.w-30 {
    width: 30%;
}

.w-33 {
    width: calc((100% - 120px) / 3);
}
    
    /* Tre colonne ritagliate in automatico con l'aggiunta di width w-33 */
    .vertical .cul:nth-of-type(2) {
        margin-left: 60px;
        margin-right: 60px;
    }

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.w-100 {
    width: 100%;
}

.my-35 {
    margin: 35px 0;
}

.my-70 {
    margin: 70px 0;
}

.my-140 {
    margin: 140px 0;
}

/********* Color properties **********/
.blue {
    background-color: rgb(181, 208, 230);
}

.lightgray {
    background: rgb(245, 245, 245);
}

.black {
    background-color: black;
}

.text-gray {
    color: lightgray;
}

.text-brown {
    color: rgb(96, 11, 43);
}

.text-white {
    color: white;
}

.bold {
    font-weight: 800;
}

/********* Header *********/
/********* Navigation *********/
    .navigation {
        height: 80px;
        padding: 10px 15px;
    }

    .navigation ul {
        list-style: none;
        line-height: 60px;
    }

    .navigation li {
        display: inline-block;
        margin: 0 20px;
    }

    .navigation img {
        vertical-align: middle;
    }

    .navigation .button {
        margin-left: 10px;
        line-height: 20px;
    }
    
/********* Spotlight *********/
    .spotlight .c-big {
        height: 750px;
    }

    .spotlight h1 {
        font-size: 85px;
        font-weight: 900;
        line-height: 110px;
        margin-bottom: 30px;  /*possibile utility mb-30px*/
    }

    .spotlight p{
        font-size: 20px;
        font-weight: 200;
        line-height: 30px;
        margin-bottom: 30px; /*possibile utility mb-30*/
        padding-right: 110px;
    }

    .spotlight .button {
        font-size: 23px;
        margin-bottom: 10px; /*possibile utility mb-10*/
    }

    .spotlight img {
        position: absolute;
        top: 0;
        right: 0;
        
        width: 105%;
    }

    .spotlight .fa-arrow-down {
        font-size: 35px;
        margin-bottom: 30px; /*possibile utility mb-30*/
    }

/********* Main *********/

/********* Buiseness *********/
.buisness input[type="radio"] {
    vertical-align: middle;
    height: 25px;
    width: 25px;
    margin-top: -6px;
}

.buisness label {
    font-size: 20px;
    line-height: 30px;
    margin-right: 20px;
}

.buisness .vertical .cul {
    height: 1100px;
    border: 1px solid lightgray;
}

.horizontal > .cul {
    border: 1px solid lightgray;
}

.horizontal .cul-main {
    padding: 0 30px;
}
        
/**** Styling della singola colonna ****/
.cul-header {
    border-bottom: 1px solid lightgray;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

.cul-main ul {
    list-style: none;
}

.cul-main li {
    margin: inherit;
    line-height: 20px;
    font-size: 15px;
    font-weight: 400;
}

.buisness .cul-main li div {
    display: inline-block;
    width: 90%;
}

.cul-main i {
    margin-right: 5px;
    vertical-align: top;
}

.fa-check {
    color: rgb(0, 100, 255);
}

.vertical .cul-main {
    padding: 40px 30px;
    line-height: 30px;
}

.horizontal h3 {
    margin: 0px 0px;
    
}

.horizontal span {
    line-height: 50px;
}

/********** Partner *********/    
.partner .cul:last-of-type {
    height: 60%;
    padding-left: 60px;
    padding-top: 60px;
}

.partner img {
    width: 100%;
}

.partner span {
    line-height: 30px;
}

.partner .button {
    background-color: white;
    color: black;
    border: 1px solid black;
}

/********** Operation **********/
.operation img {
    width: 100%;
}

.operation p {
    font-size: 20px;
    font-weight: 200;
    line-height: 30px; /*possibile utility mb-30*/    
}

/********** Team **********/
.team h2 {
    line-height: 50px;

}

.team > div:first-of-type {
    margin: 0 250px;
    padding: 50px 0;
}

.square {
    width: 50%;
    padding-bottom: 50%;

    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;

    filter: invert(1);
}

.rectangular {
    padding-bottom: 50%;
}

.rectangular > div {
    height: 80%;
    width: 80%;
}

.rectangular img:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 50%;
    border-bottom: 1px solid black;
}

.rectangular p {
    font-size: 20px;
    font-weight: 200;
    line-height: 30px;
}

.rectangular span {
    font-size: 20px;
    font-weight: 200;
    line-height: 30px;
}

.team .button {
    padding: 10px 100px;
    background-color: white;
    color: black;
}

.team .c-small {
    height: 260px;
}

#design {
    background-color: #5c2d62;
    background-image: url(../img/designit.svg);
}

#asu {
    background-color: #9ff4d4;
    background-image: url(../img/arizona_state_university.svg);
}

#uf {
    background-color: #e86b33;
    background-image: url(../img/university_of_florida.svg);
}

#topps {
    background-color: #03ded6;
    background-image: url(../img/topps.svg);
}

#wbr {
    background-color: #2df5d8;
    background-image: url(../img/world_bicycle_relief.svg);
}

#hearst {
    background-color: #4a2f19;
    background-image: url(../img/hearst_corp.svg);
}

#lonely-planet {
    background-color: #efd780;
    background-image: url(../img/lonely_planet.svg);
}

#clear-channel {
    background-color: #0129bb;
    background-image: url(../img/clear_channel.svg);
}

/********** Team **********/
.questions ul {
    list-style: none;
}

.questions li {
    line-height: 100px;
    border-bottom: 1px solid lightgray;
    font-weight: 900;
}

.questions li:first-of-type {
    border-top: 1px solid lightgray;
}

.questions i {
    position: absolute;
    right: 0;
    margin: 0 50px;
    line-height: 100px;
}


/********** Footer **********/
footer ul {
    list-style: none;
}

footer .c-big {
    height: 500px;
}

footer h4 {
    font-size: 25px;
    line-height: 50px;
}

footer li {
    line-height: 35px;
}

footer .cul {
    height: 350px;
}

footer i {
    margin: 0 2px;
}